#root {
  /* padding: 10px; */

  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;

  padding: 20px;
  min-height: 100vh;
  background-color: oklch(60% 0.11 215);
}

.score {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1400px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 212px;
  min-height: 248px;

  border-radius: 10px;
  background-color: oklch(0 0 0/ 0.5);

  transition: background-color 0.2s ease;
}

.card:hover {
  /* transform: scale(1.05); */
  background-color: oklch(0 0 0/ 0.6);
}

.card button {
  all: unset;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  padding: 10px;
  transition: transform 0.2s ease, filter 0.2s ease;
  /* Forces hardware acceleration */
  /* transform: translateZ(0); */
}

.card button:hover {
  transform: scale(1.04);
  /* filter: brightness(1.1); */
  filter: brightness(1.1) saturate(1.15);
  /* filter: brightness(1.1) contrast(1.2); */
}

.card button:active {
  transform: scale(0.98);
  filter: brightness(0.9);
}

.card img {
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback for some browsers */
  will-change: transform;
}

.card h2 {
  text-transform: capitalize;
}
